
.section_subitted{
    margin-top: 0;
    background-image: url('assets/background.jpg');
    min-height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px; 
}

.check_image {
    width: 200px;
    height: 200px;
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Horizontally center the image */
}

.middle_line {
    font-size: 1.5rem;
    font-weight: 400; /* Adjust font weight as needed */
    line-height: 3rem;
    color: white;
    text-align: center; /* Center-align text */
    margin: 1rem auto; /* Center text horizontally and adjust spacing */
}

